<html>
<head>
    <title>Annotate bounding boxes</title>
    <!-- easyturk depends on these libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js'></script>
    <!-- end of required libraries -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
    <style>
        #counter {
            margin: 0 10px;
            font-size: 20pt;
            font-weight: bold;
        }

        img {
            height: 600px;
        }

        img.example {
            height: 200px;
        }

        .tasks-container {
            margin-top: 15px;
            margin-bottom: 30px;
            background-color: #DBDBDB;
        }

        .examples-container {
            margin-top: 15px;
            margin-bottom: 30px;
            background-color: #9fbccb;
        }

        .instructions-container {
            margin-top: 15px;
            margin-bottom: 30px;
            background-color: #F0EAD6;
        }

        p {
            font-size: 17px;
            text-align: center;
        }

        li {
            font-size: 22px;
        }

        div {
            font-size: 22px;
        }
    </style>
</head>
<body>
<div class='container instructions-container'>
    <div id='instructions-section'>
        <div class='instructions'>
            <div class='row'>
                <div class='col-md-12'>
                    <h1>Instructions</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <ul>
                        <li>Annotate bounding boxes with their corresponding sentence parts.</li>
                        <li>In this task, you will be shown a picture with bounding boxes around detected objects and
                            your task is to:
                            <ul>
                                <li> Select one of the possible sentences that has at least two distinct sentence parts, each referring to 1 or more distinct detected objects in the image. If none of the 5 sentences contains 2 sentence parts referring to 2 distinct detected objects, select 'No sentence with 2 detected objects'. </li>
                                <li> Indicate which part of the selected sentence relates to which bounding box. If there wasn't a sentence with 2 distinct detected objects, you can skip this step.</li>
                            </ul>
                        </li>
                        <li>The bounding box number is always located in the top-left corner of the bounding box.</li>
                        <li>Make sure that you select the whole part of the sentence that is referenced, e.g. for the sentence:
                            <ul>
                                <li> <b> There is a man with a red shirt next to a big truck. </b>
                                    <ul>
                                        <li style="color:red">wrong: man </li>
                                        <li style="color:red">wrong: a man </li>
                                        <li style="color:green">correct: a man with a red shirt</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>If there is a sentence part that corresponds to multiple detected objects of the <b>same type</b> (e.g., person, car, horse), you can link that sentence part to multiple object numbers. Separate the object numbers with a comma, e.g., '1,2,3'. Omit quantifiers ('one', 'two', 'group of') from the sentence part you enter.</li>
                        <li>If there is a sentence part that corresponds to multiple detected objects of <b>different types</b>, please do not use this sentence part.</li>
                        <li>Two distinct sentence parts may refer to boxes of the same or distinct types, as long as they are distinct boxes.</li>
                        <li>Examples:
                            <ul>
                                <li style="margin-bottom: 15px"><b>Sentence:</b> 'A group of young persons riding horses.'
                                    <br> <b>Image:</b> has 2 boxes of persons (numbers 1, 2) riding 2 horses, and 2 boxes around the horses, with numbers 3 and 4 (and potentially other boxes that are not relevant to the sentence).
                                    <ul>
                                        <li> <b>Solution:</b> link 'young persons' to boxes '1,2' and 'horses' to boxes '3,4' </li>
                                    </ul>
                                </li>
                                <li style="margin-bottom: 15px"><b>Sentence:</b> 'A group of young persons riding horses.'
                                    <br> <b>Image:</b> has 2 boxes of persons (numbers 1, 2) riding 2 horses, and no boxes around any horses.
                                    <ul>
                                        <li> <b>Solution:</b> use another sentence or skip this image, if there is no other sentence that has 2 sentence parts referring to 2 distinct objects. </li>
                                    </ul>
                                </li>
                                <li style="margin-bottom: 15px"><b>Sentence:</b> 'A person is working in a kitchen.'
                                    <br> <b>Image:</b> has a box around a person and boxes around a refrigerator, an oven and a microwave oven.
                                    <ul>
                                        <li> <b>Solution:</b> use another sentence or skip this image. </li>
                                    </ul>
                                </li>
                                <li style="margin-bottom: 15px"><b>Sentence:</b> 'A person is playing soccer with another person.'
                                    <br> <b>Image:</b> has a box (number 1) around a child playing soccer with another person, that also has a box (number 2).
                                    <ul>
                                        <li> <b>Solution:</b> link 'a person' with box '1', and 'another person' with box '2'. </li>
                                    </ul>
                                </li>
                                <li><b>Sentence:</b> 'A person holds a teddy bear against their body.'
                                    <br> <b>Image:</b> has a box around the person (box 1) and around the teddy bear (box 2).
                                    <ul>
                                        <li> <b>Solution:</b> do not link both 'a person' and 'their body' to box 1. Link 'a person' with box 1 and 'a teddy bear' with box 2. </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container tasks-container'>
    <div class='container'>
        <h1 id='exampletag' style="color:red"> Example:<h1>
        <h2>Here are the pictures and the numbered bounding boxes:</h2>
    </div>

    <div class='container-fluid'>

        <div class='row'>
            <div class='col-12'>
                <div id='image-container'>
                </div>
            </div>
        </div>
        <br/>
        <br/>

        <div class='row'>
            <div class='col-12'>
                <h2>Pick a sentence with at least 2 detected objects in it: </h2>
                <div class='row' style='margin-top: 1px; padding-bottom: 1px;'>
                    <div class='col-4'>
                        <button id='sent1-btn' class='btn btn-lg btn-secondary'>This is a sentence with at least twenty
                            words, so it is an example of a very very extremely long sentence!
                        </button>
                    </div>
                </div>
                <div class='row' style='margin-top: 1px; padding-bottom: 1px;'>
                    <div class='col-4'>
                        <button id='sent2-btn' class='btn btn-lg btn-secondary'>Sentence 2</button>
                    </div>
                </div>
                <div class='row' style='margin-top: 1px; padding-bottom: 1px;'>
                    <div class='col-4'>
                        <button id='sent3-btn' class='btn btn-lg btn-secondary'>Sentence 3</button>
                    </div>
                </div>
                <div class='row' style='margin-top: 1px; padding-bottom: 1px;'>
                    <div class='col-4'>
                        <button id='sent4-btn' class='btn btn-lg btn-secondary'>Sentence 4</button>
                    </div>
                </div>
                <div class='row' style='margin-top: 1px; padding-bottom: 1px;'>
                    <div class='col-4'>
                        <button id='sent5-btn' class='btn btn-lg btn-secondary'>Sentence 5</button>
                    </div>
                </div>
                <div class='row' style='margin-top: 1px; padding-bottom: 1px;'>
                    <div class='col-4'>
                        <button id='no_sent-btn' class='btn btn-lg btn-secondary'>No sentence with 2 detected objects
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class='row' style="margin-top: 30px">
            <div class='col-12'>
                <h2>Annotate which sentence part corresponds to which detected object in the image:</h2>
                <div class='row' style='margin-top: 10px; padding-bottom: 10px;'>
                    <div class='col-3'>
                        Object 1:
                    </div>
                    <div class='col-4'>
                        <textarea type="text" name="caption" id='capt1' rows="1" cols='25'
                                  placeholder="sentence part"></textarea>
                    </div>
                    <div class='col-2'>
                        <textarea type="text" name="caption" id='nr1' rows="1" cols='12'
                                  placeholder="object nr(s)"></textarea>
                    </div>
                </div>
                <div class='row' style='margin-top: 10px; padding-bottom: 10px;'>
                    <div class='col-3'>
                        Object 2:
                    </div>
                    <div class='col-4'>
                        <textarea type="text" name="caption" id='capt2' rows="1" cols='25'
                                  placeholder="sentence part"></textarea>
                    </div>
                    <div class='col-2'>
                        <textarea type="text" name="caption" id='nr2' rows="1" cols='12'
                                  placeholder="object nr(s)"></textarea>
                    </div>
                </div>
                <div class='row' style='margin-top: 10px; padding-bottom: 10px;'>
                    <div class='col-3'>
                        (optional) Object 3:
                    </div>
                    <div class='col-4'>
                        <textarea type="text" name="caption" id='capt3' rows="1" cols='25'
                                  placeholder="sentence part"></textarea>
                    </div>
                    <div class='col-2'>
                        <textarea type="text" name="caption" id='nr3' rows="1" cols='12'
                                  placeholder="object nr(s)"></textarea>
                    </div>
                </div>
                <div class='row' style='margin-top: 10px; padding-bottom: 10px;'>
                    <div class='col-3'>
                        (optional) Object 4:
                    </div>
                    <div class='col-4'>
                        <textarea type="text" name="caption" id='capt4' rows="1" cols='25'
                                  placeholder="sentence part"></textarea>
                    </div>
                    <div class='col-2'>
                        <textarea type="text" name="caption" id='nr4' rows="1" cols='12'
                                  placeholder="object nr(s)"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class='row justify-content-center' style='margin-top: 30px; padding-bottom: 10px;'>
            <div class='col-xs-12 text-center' id='button-div'>
                <button id='prev-btn' class='btn btn-lg btn-primary' disabled>Back</button>
                <span id='counter'>
          <span class='counter-top'></span> / <span class='counter-bottom'></span>
        </span>
                <button id='next-btn' class='btn btn-lg btn-primary' disabled>Next</button>
            </div>
        </div>
    </div>
</div>

<!--IMPORTANT: This import contains all the functions you need to read in your input data and send back worker outputs.-->
{% include "easyturk.html" %}

<script>
    // Define some default input.
    // It is good practice to define standard inputs for a task which will be overwritten when launching
    // your actual task. The default inputs allow you to render and debug your task locally.
    var DEFAULT_INPUT = [{
        "url": "https://mturk-coco-coref.s3.eu-west-3.amazonaws.com/images/1000.jpg",
        "sentences": ['This is sentence 1', 'This is sentence 2', 'This is sentence 3', 'This is sentence 4', 'This is sentence 5']
    },
        {
            "url": "https://mturk-coco-coref.s3.eu-west-3.amazonaws.com/images/1268.jpg",
            "sentences": ['This is the first sentence', 'This is sentence 2', 'This is sentence 3', 'This is sentence 4', 'This is sentence 5']
        }]

    var input = null;

    // This is where we will be collecting the captions for each image;
    var results = [];

    // Some variables to track state of the HIT.
    var idx = 0;
    var enabled = false;

    function main() {
        // If this is a HIT on AMT, then replace the default input with the real
        // input.
        input = [{
            "url": "https://mturk-coco-coref.s3.eu-west-3.amazonaws.com/images/4495.jpg",
            "sentences": ['a corner of a living room with a tv in it.', 'a very simple living area with a sofa.', 'A room with 2 couches in front of a television.', 'A normal room with a tv on a table.', 'a room with a tv and some different types of couches']
        }].concat(easyturk.getInput(DEFAULT_INPUT));

        // Enable the task.
        if (!easyturk.isPreview()) {
            enableTask();
        }

        // Set up the correct.
        _.each(input, function () {
            results.push({
                'sentence': null,
                'Objectname1': null,
                'Objectnr1': null,
                'Objectname2': null,
                'Objectnr2': null,
                'Objectname3': null,
                'Objectnr3': null,
                'Objectname4': null,
                'Objectnr4': null,
            });
        });

        results[idx]['sentence'] = 'A room with 2 couches in front of a television.'
        results[idx]['Objectname1'] = 'couches'
        results[idx]['Objectnr1'] = '2,3'
        results[idx]['Objectname2'] = 'a television'
        results[idx]['Objectnr2'] = '1'


        // Preload all images
        _.each(input, function (input_elem) {
            var imgUrl = input_elem['url'];
            var img = new Image();
            img.onload = function () {
                console.log('loaded image from ' + imgUrl);
            };
            img.src = imgUrl;
        });

        // Activate sentence buttons.
        for (var key of ['sent1-btn', 'sent2-btn', 'sent3-btn', 'sent4-btn', 'sent5-btn', 'no_sent-btn']) {
            $('#' + key).click(function (key) {
                return function () {
                    saveOption(key);
                };
            }(key));
        }

        render();
    }

    // Use the current index to update the image and description
    function render() {
        if (idx==0){
            document.getElementById('exampletag').style.display = 'inline';
        } else {
            document.getElementById('exampletag').style.display = 'none';
        }

        // Set up the image
        $('#image-container').empty();
        $("<img style='width:100%; height:auto;'>").attr('src', input[idx]['url']).appendTo($('#image-container'));

        // Set up the sentences
        document.getElementById('sent1-btn').innerText = input[idx]['sentences'][0];
        document.getElementById('sent2-btn').innerText = input[idx]['sentences'][1];
        document.getElementById('sent3-btn').innerText = input[idx]['sentences'][2];
        document.getElementById('sent4-btn').innerText = input[idx]['sentences'][3];
        document.getElementById('sent5-btn').innerText = input[idx]['sentences'][4];

        // Set up the input text field
        $('#capt1').val(results[idx]['Objectname1']);
        $('#nr1').val(results[idx]['Objectnr1']);
        $('#capt2').val(results[idx]['Objectname2']);
        $('#nr2').val(results[idx]['Objectnr2']);
        $('#capt3').val(results[idx]['Objectname3']);
        $('#nr3').val(results[idx]['Objectnr3']);
        $('#capt4').val(results[idx]['Objectname4']);
        $('#nr4').val(results[idx]['Objectnr4']);

        // Setup the choice that the user already made.
        render_verification_buttons();

        // Refresh the counter
        $('.counter-top').text(idx);
        $('.counter-bottom').text(input.length - 1);

        // If the UI is enabled, enable or disable the buttons depending on
        // the index.
        if (enabled) {
            $('#prev-btn').prop('disabled', false);
            $('#next-btn').prop('disabled', false);
            if (idx == 0) {
                $('#prev-btn').prop('disabled', true);
            }
            if (idx == input.length - 1) {
                $('#next-btn').prop('disabled', true);
            }
        }
    }

    // Update the index, and save the text in the text area.
    function setIdx(newIdx) {
        if (newIdx < 0 || newIdx >= input.length) return;
        idx = newIdx;
        render();
    }

    // Render the colors of the buttons to show that user the choice they made.
    function render_verification_buttons() {
        for (var key of ['sent1-btn', 'sent2-btn', 'sent3-btn', 'sent4-btn', 'sent5-btn']) {
            if (results[idx]['sentence'] == document.getElementById(key).innerText) {
                _helper_color_buttons(key);
            } else {
                _helper_default_buttons(key);
            }
        }
        if (results[idx]['sentence'] == 'None') {
            _helper_color_buttons('no_sent-btn');
        } else {
            _helper_default_buttons('no_sent-btn');
        }
    }

    function _helper_color_buttons(key) {
        $('#' + key).addClass('btn-success').removeClass('btn-secondary');
    }

    function _helper_default_buttons(key) {
        $('#' + key).removeClass('btn-success').addClass('btn-secondary');
    }

    function saveOption(key) {
        results[idx]['sentence'] = document.getElementById(key).innerText;
        if (key == 'no_sent-btn') {
            results[idx]['sentence'] = 'None'
        }
        render_verification_buttons();
    }

    function saveCaption() {
        if (!results[idx]['sentence']) {
            alert('No sentence selected.');
            return false;
        }
        if (results[idx]['sentence'] == 'None') {
            results[idx]['Objectname1'] = null;
            results[idx]['Objectnr1'] = null;
            results[idx]['Objectname2'] = null;
            results[idx]['Objectnr2'] = null;
            results[idx]['Objectname3'] = null;
            results[idx]['Objectnr3'] = null;
            results[idx]['Objectname4'] = null;
            results[idx]['Objectnr4'] = null;
        } else {
            var nbrs = []
            var objcts = []

            var c = $('#capt1').val();
            var n = $('#nr1').val();
            if (!c || !n) {
                alert('Object 1 is not filled in completely.');
                return false;
            }
            if (!results[idx]['sentence'].toLowerCase().includes(c.toLowerCase())) {
                alert('The sentence part of object 1 does not occur in the selected sentence.');
                return false;
            }
            for (num of n.split(',')){
                if (isNaN(num)) {
                    alert('The object nr(s) of object 1 can only be numbers seperated by ",".');
                    return false;
                }
                nbrs.push(num)
            }
            objcts.push(c)
            results[idx]['Objectname1'] = c;
            results[idx]['Objectnr1'] = n;

            var c = $('#capt2').val();
            var n = $('#nr2').val();
            if (!c || !n) {
                alert('Object 2 is not filled in completely.');
                return false;
            }
            if (!results[idx]['sentence'].toLowerCase().includes(c.toLowerCase())) {
                alert('The sentence part of object 2 does not occur in the selected sentence.');
                return false;
            }
            for (num of n.split(',')){
                if (isNaN(num)) {
                    alert('The object nr(s) of object 2 can only be numbers seperated by ",".');
                    return false;
                }
                nbrs.push(num)
            }
            objcts.push(c)
            results[idx]['Objectname2'] = c;
            results[idx]['Objectnr2'] = n;

            var c = $('#capt3').val();
            var n = $('#nr3').val();
            if (c && !n) {
                alert('Object 3 is missing an object nr.');
                return false;
            }
            if (!c && n) {
                alert('Object 3 is missing an sentence part.');
                return false;
            }
            if (c && !results[idx]['sentence'].toLowerCase().includes(c.toLowerCase())) {
                alert('The sentence part of object 3 does not occur in the selected sentence.');
                return false;
            }
            if (n) {
                for (num of n.split(',')){
                    if (isNaN(num)) {
                        alert('The object nr(s) of object 3 can only be numbers seperated by ",".');
                        return false;
                    }
                    nbrs.push(num)
                }
            }
            if (c) {
                objcts.push(c)
            }
            results[idx]['Objectname3'] = c;
            results[idx]['Objectnr3'] = n;

            var c = $('#capt4').val();
            var n = $('#nr4').val();
            if (c && !n) {
                alert('Object 4 is missing an object nr.');
                return false;
            }
            if (!c && n) {
                alert('Object 4 is missing an sentence part.');
                return false;
            }
            if (c && !results[idx]['sentence'].toLowerCase().includes(c.toLowerCase())) {
                alert('The sentence part of object 4 does not occur in the selected sentence.');
                return false;
            }
            if (n) {
                for (num of n.split(',')){
                    if (isNaN(num)) {
                        alert('The object nr(s) of object 1 can only be numbers seperated by ",".');
                        return false;
                    }
                    nbrs.push(num)
                }
            }
            if (c) {
                objcts.push(c)
            }
            results[idx]['Objectname4'] = c;
            results[idx]['Objectnr4'] = n;

            var u_nbrs = new Set(nbrs)
            if (nbrs.length !== u_nbrs.size) {
                alert('All object numbers can be used only once!');
                return false;
            }
            console.log(objcts)
            for (var i in objcts) {
                var start1 = results[idx]['sentence'].indexOf(objcts[i])
                for (let j = 0; j < i; j++) {
                    var start2 = results[idx]['sentence'].indexOf(objcts[j])
                    if (Math.max(start1,start2) < Math.min(start1 + objcts[i].length, start2  + objcts[j].length)){
                        alert('All sentence parts can be used only once!');
                        return false
                    }
                }
            }
        }
        return true;
    }

    // Enable the UI.
    function enableTask() {
        enabled = true;
        easyturk.setupSubmit();

        // Enable components
        $('#next-btn').click(function () {
            if (saveCaption()) {
                setIdx(idx + 1);
            }
        });
        $('#prev-btn').click(function () {
            if (saveCaption()) {
                setIdx(idx - 1);
            }
        });
        $('#submit-btn').prop('disabled', false);

        $('#submit-btn').click(function () {
            // Make sure to save the last one.
            if (!saveCaption()) {
                return false;
            }
            for (var i = 0; i < input.length; i++) {
                if (results[i]['sentence'] == null) {
                    alert('You did fill in number #' + (i + 1));
                    return false;
                }
            }

            // Copy the url and captions to the output we will return to the requester.
            var output = input;
            for (var i = 0; i < output.length; i++) {
                output[i]['results'] = results[i];
            }
            if (easyturk.isPreview()) {
                alert("This is only a preview. Here is your output: \n" + JSON.stringify(output));
                return false;
            } else {
                easyturk.setOutput(output);
                return true;
            }
        });
    }

    main();
</script>
</body>
</html>
